Package: ruby2.5-dev
Source: ruby2.5
Version: 2.5.3-3
Architecture: amd64
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 648
Depends: libgmp-dev, libruby2.5 (= 2.5.3-3)
Recommends: ruby2.5-doc
Section: ruby
Priority: optional
Multi-Arch: same
Homepage: http://www.ruby-lang.org/
Description: Header files for compiling extension modules for the Ruby 2.5
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package contains the header files and the mkmf library, necessary
 to make extension library for Ruby 2.5. It is also required to build
 many gems.
